{% extends "admin/header.html" %}
{% block title %}积分配置{% endblock %}
{% block  body%}
    <!--内容区域-->
    <div class="bsa-main-wrapper">
        <div class="bsa-main-content">
            <!-- 内容都应该被包裹在此-->
            <div class="card border-0 shadow-sm">
                <div class="card-body p-4">
                    <h5 class="card-title">积分设置</h5>
                    <hr>
                    <form action="#" id="form" class="row g-3">
                        <div class="card-title d-flex align-items-center">
                            <div><i class="bi bi-credit-card-2-front me-1 bsa-font-20 text-primary"></i>
                            </div>
                            <h5 class="mb-0 text-primary">积分信息</h5>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="CheckCredit" class="form-label">签到获得积分数</label>
                            <input type="text" class="form-control" id="CheckCredit" name="CheckCredit" value="{{ CheckCredit }}">
                            <div class="form-text">用户后台签到获得积分数量</div>
                        </div>
                        <div class="mb-3">
                            <label for="QJMCredit" class="form-label">请假码积分单价</label>
                            <input type="text" class="form-control" id="QJMCredit" name="QJMCredit" value="{{ QJMCredit }}">
                            <div class="form-text">学校请假码消耗积分数量</div>
                        </div>
                        <div class="mb-3">
                            <label for="JoinCredit" class="form-label">新用户获得积分</label>
                            <input type="text" class="form-control" id="JoinCredit" name="JoinCredit" value="{{ JoinCredit }}">
                            <div class="form-text">新用户注册时系统默认赠送积分数</div>
                        </div>

                        <button type="submit" class="btn btn-primary">保存</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--表单验证相关依赖-->
    <script src="{{ url_for('static', filename='admin/lib/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/formvalidation/js/formValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/formvalidation/js/framework/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/formvalidation/js/language/zh_CN.js') }}"></script>
    <script>
        //前端表单验证
        $('#form').formValidation({
            fields: {
                QJMCredit: {
                    validators: {
                        notEmpty: true,
                    }
                },
                CheckCredit: {
                    validators: {
                        notEmpty: true,
                    }
                },
                JoinCredit: {
                    validators: {
                        notEmpty: true,
                    }
                },
            }
        }).on('success.form.fv', function (e) {
            //阻止表单提交
            e.preventDefault();
            //得到表单对象
            let $form = $(e.target);
            let data = $form.serialize();

            //得到序列化数据
            $.ajax({
                url: "{{ url_for('admin_credit.credit_info') }}",
                method: 'POST',
                data
            }).then(function (res) {
                BootstrapNotify.show(res.msg);
                if (res.code === 200) {
                    //成功
                } else {
                    //失败
                }
            });
            $(document).ajaxError(
                function (e, xhr, settings, error) {
                    BootstrapNotify.show("服务器响应错误！");
                });
        });
    </script>
{% endblock %}


