{% extends "user/header.html" %}
{% block title %}用户登录{% endblock %}
{% block ico %}用户登录{% endblock %}
{% block body %}
    <script src="{{ url_for('static', filename='js/code1.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/code2.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/code3.js')}}" type="text/javascript"></script>

    <!--提示框-->
    <body>
    <div class="alert alert-info hide" style="position: fixed; width: 50%; margin-left: 50%; z-index: 3000;"><span id="name"></span></div>
    </body>
    <div class="container" >
        <div class="row">
            <div class="col-md-5 col-sm-push-8 sty5">
                <div class="site-login" style="width: 100%;">
                    <div class="panel panel-default" style="box-shadow:0 40px 80px 0 rgba(0,0,0,0.3)">
                        <h1 style="text-align: center; color: #121212;"> <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span><span style="text-shadow: 0px 0px 4px grey;">&nbsp;&nbsp;登录</span></h1>
                        <div class="panel-body">
                            <div class=" xcol-lg-offset-3 xcol-lg-5" style=".middle { float: none;   display: inline-block;   vertical-align: middle;}">
                                <div>
                                    <div>
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#userauth" aria-controls="userauth" role="tab" data-toggle="tab">登录</a></li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <!-- 账号登录Start -->
                                            <div role="tabpanel" class="tab-pane active" id="userauth">
                                                <div class="row"><p></p><p></p><p></p></div>
                                                <form id="adduser-form" class="form-horizontal" action="#" method="post">
                                                    <!-- 登录-->
                                                    <div class="row" style="margin-right: 15px;margin-left: 15px;text-align:center;">
                                                        <div class="form-group field-frontloginform-xuehao required">
                                                            <div class="col-xs-12 col-sm-12  input-group"><span class="input-group-addon" id="basic-addon">学号:</span>
                                                                <input type="text" id="xuehao" class="form-control" name="xuehao" onkeyup="value=value.replace(/\s+/g, '')" autofocus="" placeholder="打卡学号" style="text-align:center;background-color:#f3f3f3;" aria-required="true"></div>
                                                            <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0"><p class="help-block help-block-error"></p></div>
                                                        </div>
                                                    </div>

                                                    <div class="row" style="margin-right: 15px;margin-left: 15px;text-align:center;">
                                                        <div class="form-group field-frontloginform-password required">
                                                            <div class="col-xs-12 col-sm-12  input-group"><span class="input-group-addon" id="basic-addon1">密码:</span>
                                                                <input type="password" id="password" class="form-control" name="password" onkeyup="value=value.replace(/\s+/g, '')" autofocus="" placeholder="打卡密码" style="text-align:center;background-color:#f3f3f3;" aria-required="true"></div>
                                                            <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0"><p class="help-block help-block-error"></p></div>
                                                        </div>
                                                    </div>

                                                    <div class="row" style="margin-right: 0px;margin-left: 0px;margin-bottom: -10px;"><p class="help-block help-block-error">

                                                    </p>
                                                    </div>

                                                    <div class="row" style="margin-right: 0px;margin-left: 0px;">
                                                        <div class="form-group text-center">
                                                            <div id="w0">
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12">
                                                                <button type="button" class="btn btn-primary btn-lg btn-block" id="user_login">登录</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="thirdauth">
                                                <p></p><p></p><p></p></div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $('#user_login').on('click', function(event){
            //定时关闭
            window.setTimeout(function(){
                $(".alert-info").removeClass("show");
            },5000);//显示的时间
            const xuehao = $("input[name='xuehao']").val();
            const password = login_jiami($("input[name='password']").val());
            $.ajax({
                url: '{{ url_for('user.user_login') }}',
                method: 'POST',
                data: {"xuehao": xuehao, "password": password},
                success: function(res){
                    $(".alert-info").addClass("show");
                    document.getElementById("name").innerHTML=res.msg;
                    if(res.code === 200){
                        window.location.href = "{{ url_for('user.user_info') }}";
                    }
                },
                error: function(msg){
                    //信息框
                    $(".alert-info").addClass("show");
                    var code = msg.status;
                    if(code === 429){
                        document.getElementById("room_power").innerHTML="频繁请求！";
                    }else if(code === 500){
                        document.getElementById("room_power").innerHTML="erro: 接口请求失败！";
                    }else if(code === 403){
                        document.getElementById("room_power").innerHTML="erro: 非法请求！";
                    }
                }

            })
        })
    </script>
{% endblock %}